<!DOCTYPE html>
<html lang='es'>
    <head>

        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/style.css'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' >
        <link rel='icon' href='/img/wctrophy.png' type='image/png'>
        <title>Mundial 2026</title>
        <link rel="manifest" href="/manifest.json">

    </head>
    <body>
        <nav class="nav-bar">
            <a href="/">
            <img src='/img/wctrophy.png' height="50px" style="margin-left: 15px;">
            </a>
            <ul class="menu-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </nav>
        <div class="container">
            <form class="register" autocomplete="off" action="/auth/register" method="POST">
                <img src="/img/icons/register.png" />
                <h2>Registrarse</h2>
                <input type="text" style="{{usererror}}" id="user" name="user" placeholder="Usuario" value="{{user}}" required>
                <input type="text" style="{{emailerror}}" id="email" name="email" placeholder="E-mail" autocomplete="nope" value="{{email}}" required>
                <input type="password" style="{{pwerror}}" id="pw" name="password" placeholder="Contraseña" required>
                <input type="password" style="{{pwerror}}" id="pwConfirm" name="passwordConfirm" placeholder="Confirma tu contraseña" required>
                <input type="submit" value="Registrarse">
            </form>
            {{#if error}}
            <p class="error">{{error}}</p>
            {{/if}}
            {{#if success}}
            <p class="success">{{success}}</p>
            {{/if}}
        </div>
    </body>
</html>