<!DOCTYPE html>
<html lang='es'>
    <head>

        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/style.css'>
        <link rel='icon' href='/img/wctrophy.png' type='image/png'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' >
        
        <title>Mundial 2026</title>

    </head>
    <body>
        <nav class="nav-bar">
            <a href="/">
            <img src='/img/wctrophy.png' height="50px" style="margin-left: 15px;">
            </a>
            <ul class="menu-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/teams">Equipos</a></li>
                <li><a href="/profile" style="margin:0;">{{username}}</a></li>
                <li><a href="/auth/logout">Cerrar sesión</a></li>
                <li><a href="/play">Jugar</a>
                <li><a href="/leaderboard">Tabla</a></li>
            </ul>
        </nav>
        <div class="mobile-nav-bar">
            <a href="/"><img id="home" src="/img/icons/home.png" alt="home"><label>Inicio</label></a>
            <a href="/play"><img src="/img/icons/play.png" alt="play"><label>Jugar</label></a>
            <a href="/leaderboard"><img src="/img/icons/leaderboard.png" alt="leaderboard"><label>Tabla</label></a>
            <a href="/teams"><img src="/img/icons/teams_active.png" alt="teams"><label class="menu-active">Equipos</label></a>
            <a href="/profile"><img src="/img/icons/perfil.png" alt="perfil"><label>Perfil</label></a>
        </div>
        <div class="container">
            <div class="teams-container">
                {{#each groupedTeams}}
                    <div class="group">
                        <h2>Grupo {{@key}}</h2>
                        
                        {{#each this}}
                            <div class="team">
                                <img 
                                    src="{{flagPath}}" 
                                    alt="Bandera de {{name}}" 
                                    onerror="this.src='/img/flags/por_definir.png';" 
                                    height="30">
                                <p><a href="team/{{id}}">{{name}}</a> ({{short_name}})</p>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>

    </body>
</html>